import axios from 'axios';
import PageHelper from '@/utils/pageHelper';
{{#if isGroup}}import { handGetParent, handPostParent } from '@/utils/methodRequest';{{/if}}
import config from '@/config';
import routerLinks from "@/utils/routerLinks";

export const getList_{{upperCase name}} = async (payload) => {
  const { data } = await axios.get(routerLinks("{{ properCase name }}", "api"), {params: PageHelper.requestFormat(payload)});
  return PageHelper.responseFormat(data);
}
export const save_{{upperCase name}} = async (payload) => {
  const { data } = await axios.post(routerLinks("{{ properCase name }}", "api"), payload);
  if (data.message) config.notice.success(data.message);
  return data;
}
export const update_{{upperCase name}} = async (payload) => {
  const { data } = await axios.put(routerLinks("{{ properCase name }}", "api") + '/' + payload.id, payload);
  if (data.message) config.notice.success(data.message);
  return data;
}
export const delete_{{upperCase name}} = async (payload) => {
  for (let index = 0; index < payload.length; index++) {
    const id = payload[index];
    const {data} = await axios.delete(routerLinks("{{ properCase name }}", "api") + '/' + id);
    if (data.message) config.notice.success(data.message);
  }
  return null;
}
export const patch_{{upperCase name}} = async (payload) => {
  for (let index = 0; index < payload.length; index++) {
    const {data} = await axios.patch(routerLinks("{{ properCase name }}", "api") + '/' + payload[index].id, payload[index]);
    if (data.message) config.notice.success(data.message);
  }
  return null;
}
{{#if isGroup}}
export const get_{{upperCase nameGroup}} = async () => handGetParent(routerLinks("{{ properCase nameGroup }}", "api") + "/", "{{lowerCase nameGroup}}s")
export const change_{{upperCase nameGroup}} = async (payload) => handPostParent(routerLinks("{{ properCase nameGroup }}", "api") + '/', payload);
export const delete_{{upperCase nameGroup}} = async (id) => {
  const { data } = await axios.delete(routerLinks("{{ properCase nameGroup }}", "api") + '/' + id);
  if (data.message) config.notice.success(data.message);
}
{{/if}}
