@import '~assets/styles/variables.less';

// Left sidebar
.sidebar-left {
  background-color: @black;
  user-select: none;
  position: relative;
  z-index: 2;
  
  &.sidebar-left-sm {
    .ant-menu {
      &.ant-menu-inline-collapsed {
        width: 60px;
        > .ant-menu-submenu .ant-menu-submenu-title,.ant-menu-item {
          padding: 0 20px !important;
          margin: 0;
          .las { font-size: 23px; }
        }
      }
    }
    &.sidebar-left-close {
      .ant-menu {
        transform: translate3d(-2000px, 0 ,0);
      }
    }
  }
  
  .ant-menu {
    > .ant-menu-item, 
    > .ant-menu-submenu>.ant-menu-submenu-title {
      margin: 0;    
      height: 48px;
      line-height: 48px;
      width: 100%;
    }
    .ant-menu-submenu-selected {
      background-color: shade(@black);
    }
  }
  
  .sidebar-toggle-mini {
    text-align: center;
  }
  
  &.show-header .sidebar-header{
    height: 91px;
  }
  
  .sidebar-header {
    transition: height 0.2s ease;
    height: 0px;
    overflow: hidden;
    .userlogged {
      border-bottom: 1px solid rgba(@black, 0.1);
      display: block;
      padding: 30px 10px 0 10px;
      > i {
        color: @dark-gray;
        float: left;
        font-size: 60px;
        padding-right: 5px;
      }
      .user-details {
        float: left;
        padding-left: 5px;
        text-align: left;
        > span {
          font-size: 18px;
          margin-bottom: 3px;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 130px;
          display: block;
        }
      }
    }
  }
  &.dark {
    .sidebar-header {
      .userlogged .user-details > span {
        color: @light;
      }
      .ant-select-selection {
        background-color: rgba(@black, 0.2);
        border: 1px solid rgba(@white, 0.1);
        color: @gray;
        font-size: 12px;
        .ant-select-arrow {
          color: @gray;
        }
      }
    }
  }
  

  &.light {
    background-color: @white;
    .ant-menu {
      border-right: 0;
      background: @white;
      &.ant-menu-sub {
        background-color: @light;
      }
    }
  }
  
  &.grey {
    background-color: @light;
    .ant-menu {
      border-right: 0;
      background: @light;
      &.ant-menu-sub {
        background-color: shade(@light);
      }
    }
  }
}

&.grey,
&.light {
  border-right: 1px solid @light;
  .ant-menu-root.ant-menu {
    position: relative;
  }
}

.sidebar-header-dropdown {
  font-size: 13px;
}

.ant-select-selection-selected-value,
.ant-select-dropdown-menu-item {
  .user {
    border-radius: 50%;
    content: "";
    float: left;
    height: 7px;
    margin-right: 8px;
    margin-top: 7px;
    width: 7px;
  }
  .online {
    background-color: @success-color;
  }
  .invisible {
    background-color: @warning-color;
  }
  .busy {
    background-color: @highlight-color;
  }
  .offline {
    background-color: @gray;
  }
}

// Left drawer
.left-sidebar-drawer {
  .navbar-branding {
    position: relative;
    overflow: hidden;
    height: 60px;
    background-color: transparent;
    .navbar-brand {
      color: @gray;
      height: 60px;
      line-height: 58px;
      padding: 0;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.6px;
      padding-left: 15px;
      display: inline-block;
      overflow: hidden;
      width: 170px;
      b {
        font-weight: bold;
        padding-right: 1px;
      }
      img {
        width: 35px;
        height: auto;
        margin-right: 10px;
      }
    }
    // Left navigation shrink button
    .toggle_sidemenu_l {
      float: right;
      cursor: pointer;
      font-size: 15px;
      line-height: 58px;
      max-height: 60px;
      width: 45px;
      text-align: center;
      -webkit-touch-callout: none;
      user-select: none;
    }
  }
  .ant-drawer-close-x {
    display: none;
  }
  .ant-drawer-body {
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sidebar-left {
    min-height: 100vh;
  }
}

// Right sidebar
.sidebar-right {
  user-select: none;
  &.ant-layout-sider {
    background: shade(@light, 5%);
    border-left: 1px solid shade(@light, 10%);
  }
}