@import '~assets/styles/variables.less';

.antui-modalform.ant-modal {
  & {
    .ant-modal-body {

    }
  }
  &.full-modal {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 0;
    width: auto !important;
    .ant-modal-content {
      height: 100%;
      position: relative;
      .ant-modal-body {
        padding: 0;
        position: absolute;
        top: 55px;
        bottom: 53px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .ant-modal-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }
    }
  }
  &.antui-table-modal {
    .ant-modal-header {
      .with-search-title {
        display: flex;
        align-items: center;
        .left-title {
          flex: auto;
        }
        .antui-searchbar {
          margin-right: 25px;
        }
      }
    }
    .ant-modal-body {
      padding: 0;
      max-height: 418px;
      overflow: auto;
      .ant-table-small .ant-table-thead > tr > th {
        padding: 17px 16px;
      }
    }
    .ant-modal-footer {
      display: flex;
      align-items: center;
      .footer-page {
        flex: auto;
        text-align: left;
      }
    }
  }
}
.antui-modaldrag {
  .nestable {
    margin-top: 10px;
    .item-list {
      background-color: @light;
      color: @dark-gray;
      border-radius: .4rem;
      padding: 0.5rem 1rem;
      font-weight: 500;
      min-height: 48px;
    }
  }
}
.antui-modal-array-form {
  .ant-select { height: inherit; }
}
