@import "variables";
@import "node_modules/uikit/src/scss/uikit-theme";
@import "node_modules/line-awesome/dist/line-awesome/scss/line-awesome";
#loading {
  background-color: $lightbox-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

// Form select Tree
.xtsel {
  background: $global-muted-background;
  color: $global-color;
  border: 0 none;
  padding: 0 10px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: start;
}
.uk-form-icon {
  z-index: 1;
  &:not(.uk-form-icon-flip) ~ .xtsel {
    padding-left: 40px !important;
  }
}
#xtsel-list { top: 100%; }
