@import '~assets/styles/variables.less';

.user-layout.fixed .full-layout.ant-layout.register-page {
  @media (max-width: @mobile-media) {
    position: relative !important;
    padding-bottom: 10%;
  }
  .login-form {
    .ant-input, .ant-select-selector,
    .ant-select-selector .ant-select-selection-item,
    .ant-input-affix-wrapper {
      height: 50px;
      line-height: 50px;
    }
  }
}
