import React from 'react';
import { connect } from 'dva';
import { Layout } from 'antd';
import intl from "react-intl-universal";

import BaseComponent from 'components/BaseComponent';
import Toolbar from 'components/Toolbar';
{{#if isSearch}}
import SearchBar from 'components/SearchBar';
{{/if}}
import DataTable from 'components/DataTable';
import Button from 'components/Button';
import { ModalForm,{{#if isGroup}} ModalDragList,{{/if}} } from 'components/Modal';
import routerLinks from "@/utils/routerLinks";

import messages from '../messages';
import { createColumns,{{#if isGroup}} createForm{{sentenceCase nameGroup}}Drag, {{/if}} } from './columns';
import './index.less';

const { Content, Header, Footer } = Layout;
const { Pagination } = DataTable;

@connect(({ {{lowerCase name}}, global, loading }) => ({
  {{lowerCase name}},
  global,
  loading: loading.models.{{lowerCase name}}
}))
class {{ properCase name}} extends BaseComponent {
  constructor(props) {
    super(props);
    this.state = {
      record: null,
      visible: false,
{{#if isGroup}}      visibleDrag{{sentenceCase nameGroup}}: false,{{/if}}
      rows: []
    }
  }

  handleDelete = records => {
    const { rows } = this.state;
    const { dispatch } = this.props;

    dispatch({
      type: '{{lowerCase name}}/remove',
      payload: {
        records,
        success: () => {
          // If the operation is successful, exclude the deleted row in the selected row
          this.setState({
            rows: rows.filter(
              item => !records.some(jItem => jItem.rowKey === item.rowKey)
            )
          });
        }
      }
    });
  };

  handlePatch = (records) => {
    const { dispatch } = this.props;
    dispatch({ type: '{{lowerCase name}}/patch', payload: { records }});
  }

  render() {
    const { {{lowerCase name}}, loading, dispatch, history, location } = this.props;
    const { pageData,{{#if isGroup}} {{lowerCase nameGroup}}s, {{lowerCase name }}s, {{/if}} } = {{lowerCase name}};
    const columns = this.setSortFilter(pageData, createColumns(this));
    const { rows, record, visible,{{#if isGroup}} visibleDrag{{sentenceCase nameGroup}},{{/if}} } = this.state;

    {{#if isSearch}}
    const searchBarProps = {
      columns,
      onSearch: values => history.replace(location.pathname + pageData.toParams({...pageData, filters: {...values}}))
    };
    {{/if}}
    const dataTableProps = {
      loading,
      columns,
      dataItems: pageData,
      selectedRowKeys: rows.map(item => item.id),
      onChange: (page) => history.replace(location.pathname +pageData.toParams(page)),
      onSelect: (keys, rows) => this.setState({ rows })
    };
    const modalFormProps = {
      loading,
      record,
      visible,
      columns,
      onCancel: () => this.setState({ record: null, visible: false }),
      onSubmit: values => {
        dispatch({
          type: '{{lowerCase name}}/save',
          payload: {
            values: !record ? values : {...values, id: record.id},
            success: () => this.setState({ record: null, visible: false})
          }
        });
      }
    };
    {{#if isGroup}}
    const dragProps = (columns, data, key, visible, visibleKey, title, maxDepth, name, url, readOnly = false, callArray, checkCallArray) => {
      return {
        loading, columns, data, visible, title, maxDepth,
        callArray, checkCallArray, readOnly,
        onSubmit: (data, value) => {
          if (value) dispatch({
            type: `{{lowerCase name}}/change${name}`,
            payload: {
              value, data,
              permissions: {
                "post": this.checkPermission(url, "POST"),
                "put" : this.checkPermission(url, "PUT")
              }
            }
          });
          else dispatch({ type: "{{lowerCase name}}/@change", payload: { [key]: data }})
        },
        onDrag: (data) => dispatch({ type: "{{lowerCase name}}/@change", payload: { [key]: data }}),
        onCancel: () => this.setState({ [visibleKey]: false }),
        onSave: () => {
          dispatch({
            type: `{{lowerCase name}}/change${name}`,
            payload: {
              value: null, data,
              permissions: {
                "post": this.checkPermission(url, "POST"),
                "put" : this.checkPermission(url, "PUT")
              }
            }
          })
          this.setState({ [visibleKey]: false });
        },
        onDelete: (id) => {
          if (id > 0) dispatch({ type: `{{lowerCase name}}/remove${name}`, payload: id })
          else dispatch({ type: "{{lowerCase name}}/@change", payload: this.deleteItem(data, id) })
        },
        checkPermission: (method) => this.checkPermission(url, method),
      };
    }
    const modalDrap{{sentenceCase nameGroup}}Props = dragProps(
      createForm{{sentenceCase nameGroup}}Drag({{lowerCase name}}s.map(item => { return { code: item.id, codeName: item.name } })), {{lowerCase nameGroup}}s, "{{lowerCase nameGroup}}s", visibleDrag{{sentenceCase nameGroup}}, "visibleDrag{{sentenceCase nameGroup}}",
      intl.formatMessage(messages.{{camelCase nameGroup}}), 1,"{{sentenceCase nameGroup}}", routerLinks("{{properCase nameGroup}}", "api"));
    {{/if}}
    return (
      <Layout className="full-layout {{lowerCase name}}-page">
        <Header>
          <Toolbar
            appendLeft={
              <Button.Group>
                {this.checkPermission(routerLinks("{{properCase name}}", "api"), "POST") && (
                  <Button type="primary" icon={<i className="las la-plus" />} onClick={this.onAdd}>
                    {intl.formatMessage(messages.add)}
                  </Button>
                )}
                {this.checkPermission(routerLinks("{{properCase name}}", "api"), "DELETE") && (
                  <Button
                    type="primary"
                    disabled={!rows.length}
                    onClick={e => this.onDelete(rows)}
                    icon={<i className="las la-trash-alt" />}
                  >
                    {intl.formatMessage(messages.delete)}
                  </Button>
                )}
              </Button.Group>
            }
            {{#if isSearch}}
            pullDown={<SearchBar type="grid" {...searchBarProps} />}
            {{/if}}
          >
            {{#if isGroup}}
            <Button.Group>
              {this.checkPermission(routerLinks("{{ properCase nameGroup }}", "api")) && (
                <Button
                  type="primary"
                  icon={<i className="las la-bars" />} onClick={() => this.setState({ visibleDrag{{sentenceCase nameGroup}}: true })}
                >
                  {intl.formatMessage(messages.{{camelCase nameGroup}})}
                </Button>
              )}
            </Button.Group>
            {{/if}}
            {{#if isSearch}}
            <SearchBar group="abc" {...searchBarProps} />
            {{/if}}
          </Toolbar>
        </Header>
        <Content className="has-footer">
          <DataTable {...dataTableProps} />
        </Content>
        <Footer>
          <Pagination {...dataTableProps} />
        </Footer>
        <ModalForm {...modalFormProps} />
        {{#if isGroup}}
        {this.checkPermission(routerLinks("{{ properCase nameGroup }}", "api")) && <ModalDragList {...modalDrap{{sentenceCase nameGroup}}Props} />}
        {{/if}}
      </Layout>
    );
  }
}

export default {{ properCase name }};
