/* css trang vinh danh */
.single-speaker-inner {
  position: relative;
  overflow: hidden;
}
.single-speaker-inner .social {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: -10px;
  padding: 25px;
  z-index: 5;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.single-speaker-inner .social li {
  display: inline-block;
  padding-left: 10px;
}
.single-speaker-inner .social li a {
  color: #fff;
}
.single-speaker-inner .thumb {
  position: relative;
}
.single-speaker-inner .thumb img {
  transition: 0.9s;
}
.single-speaker-inner .thumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(253, 1, 86, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.single-speaker-inner .details {
  padding: 28px 28px 25px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.single-speaker-inner .details h4 {
  font-size: 28px;
  font-family: var(--bebas-neue-font);
  color: #fff;
  font-weight: 400;
}
.single-speaker-inner .details p {
  margin-bottom: 0;
  color: #fff;
}
.single-speaker-inner:hover .social {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.single-speaker-inner:hover .thumb img {
  transform: scale(1.1);
}
.single-speaker-inner:hover .thumb:after {
  visibility: visible;
  opacity: 1;
}
.single-speaker-inner:hover .details {
  bottom: 0px;
  visibility: visible;
  opacity: 1;
}

/*------------- speaker slider --------------*/
.speaker-slider .single-speaker-inner {
  margin-bottom: 0;
}
.speaker-slider .single-speaker-inner .details h4 {
  font-size: 24px;
}
/*hết  css trang vinh danh */
/*  */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.4);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
   /* background: rgba(247, 236, 236, 0.6); */
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}
/*  */
